$primary : #173b5f;
$secondary: #2196F3;
$green: #2ecc71;
$black: #000000;

// $primary : #173b5f;
// $secondary: #ffd700;
// $green: #2196F3;

// $primary : #173b5f;
// $secondary: #2196F3;
// $green: #ffd700;
